//basic setup, colors and fonts

@import './reset';

//fonts 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:ital,wght@0,600;1,400&family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@1,300&display=swap');

$primary: blue;
$primaryHover: rgb(178, 178, 216);
$black: #15181F;
$white: #dbffff;
$blackLight: #898B8E;

//functions 
@function weight($weight-name){
    @return map-get($font-weight,$weight-name)
}

//font weight
$font-weight: (
    'regular': 400,
    'medium': 500,
    'bold': 700
)